<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{ fruit.name | uppercase }}</h2>
        </mat-card-title>
    </mat-card-header>
    <img src="../../assets/images/{{fruit.name}}.png" alt="{{fruit.name}}">
    <mat-card-content>
        <p>${{ fruit.price }} per {{ fruit.unit }}</p>
        <form>
            <mat-form-field>
                <mat-label>Price ($)</mat-label>
                <input matInput type="text" name="price" [(ngModel)]="fruit.price">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit (pound/ piece)</mat-label>
                <input matInput type="text" name="unit" [(ngModel)]="fruit.unit">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button type="button" (click)="editSelectedFruit()">
            <mat-icon color="primary">save</mat-icon>
        </button>
        <button mat-icon-button type="button">
            <mat-icon color="primary">delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>